body {
    margin: 0px;
    padding: 0px;
}

.no-pading-left {
    padding-left: 0;
}
.no-pading-right {
    padding-right: 0;
}

.overview-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
}
.card-image {
    padding: 20px;
    align-items: center;
}

.card.horizontal {
    display: flex;
    align-items: center;
    padding: 30px;
}

.card .card-image img {
    align-items: center;
    left: 30px;
    top: 30px;
}

.user-content-head {
    display: flex;
}

.coin-logo {
    margin-right: 50px;
}

.coin-name {
    margin: 0 0 10px;
}

.coin-full-name {
    opacity: .7;
    font-size: .4em;
    font-style: italic;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid black;
}

.coin-price {
    margin: 0;
}

.coin-stats {
    margin-top: 40px;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.trade-button {
    margin-left: auto;
    padding: 15px 40px;
    border: none;
    background: #38E;
    border-radius: 4px;
    color: white;
    font-size: 2em;
    animation: move 1s;
    animation-iteration-count: 2;
}

button {
    transition: .3s all;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

.price-variation {
    margin-left: 15px;
    color: #0C3;
    font-size: .8em;
}

.card-action {
    display: flex;
    flex-direction: column;
}

.card-action a {
    padding: 5px 0 5px 40px;
}

/* Chart */
div .chart  {
    margin-top: 40px;
    width: 100%;
}

a.watch-list {
    background: url(../../resource/img/watchlist.png) no-repeat;
    background-size: contain;
}
a.port-folio {
    background: url(../../resource/img/portfolio.png) no-repeat;
    background-size: contain;
}
a.news-feed {
    background: url(../../resource/img/news.png) no-repeat;
    background-size: contain;
}
a.trade-markets {
    background: url(../../resource/img/trademarket.png) no-repeat;
    background-size: contain;
}
a.copy-peopled {
    background: url(../../resource/img/copypeople.png) no-repeat;
    background-size: contain;
}
a.invest {
    background: url(../../resource/img/invest.png) no-repeat;
    background-size: contain;
}
a.club {
    background: url(../../resource/img/club.png) no-repeat;
    background-size: contain;
}
a.invite {
    background: url(../../resource/img/invitefreind.png) no-repeat;
    background-size: contain;
}
a.help {
    background: url(../../resource/img/help.png) no-repeat;
    background-size: contain;
}
                        